@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/font.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />

    <style>
        .container {
            bottom: 0;
            width: 50%;
            background: rgba(255, 255, 255, 0.5);
            color: black;
            float: left;
            min-height: 100%;
            position: relative;
            position: absolute;
        }
    </style>
</head>

<body class="login-body">
    <div class="main">
        <div class="inner-wrapper">
            <div class="brand">
                <div class="logo-wrapper">
                    <img src="~/images/nsclogo.png" class="logo" />
                </div>

                <div class="brand-name">
                    <h1>Nigerian Shippers' Council</h1>
                    <h3>Online Registration of Regulated Port Service Providers & Users</h3>
                </div>

            </div>

            <div class="btns">
                <a href="../Account/Login/" class="btn btn-block btn-md btn-success btn-size">LogIn</a><br />
                <a href="../Account/AccountRegister/" class="btn btn-block btn-md btn-warning btn-size">Register</a>

            </div>

            <div class="row" style="margin-top: 10%">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissable text-justify" style="height:auto" role="alert">
                        <marquee><b class="text-danger">NOTICE BELOW</b></marquee><br />
                        <ol>
                            <li>To register with Nigeria Shipper's Council, ensure you have a valid and accessible email address. All registration correspondence will be sent to your email address.</li>
                            <li>If you already started your registration and have validated your account via your email, click the login button to complete your registration process.</li>
                            <li>To verify certificate, click the <strong>Verify</strong> button and enter the certificate number</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
